<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница входа</title>
    <style>

        body {
            background-color: black;
        }

        h1 {
            text-align: center;
            left: 280px;
            top: 66.06px;

            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 80px;
            line-height: 122px;
            margin-top: 275px;
            color: #FFFFFF;
        }

    </style>
</head>
<body>
    <h1>Приветсвую вас, {{username}}!</h1>
</body>
</html>
